@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

$layout-breakpoint-small: 800px;

.identifying-facts {
    margin: 4em auto 1rem;
    &__header {
       
        &--title {
            font-size: 3rem;
            color: $color-dark-3;
            margin-bottom: 3%;
            @include tablet {
                margin-bottom: -6%;
            }
            
        }
    }
    
    &__container {
        //mobile
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        flex-direction: column;
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        @include desktop {
            
            //justify-content: space-around;
            flex-direction: row;
            width: 100%;
            margin-bottom: 6%;
            
        }
    }
    
    &__data1 {
        //mobile
        padding: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: whitesmoke;
        background: radial-gradient(circle at 2rem 1rem, $color-light-2, $color-dark-3, black);
        border-radius: 50%;
        height: 12.5rem;
        width: 12.5rem;
        font-size: 1rem;
        line-height: 1.6rem;
        @include tablet {
            
            height: 14rem;
            width: 14rem;
        }
        
        //desktop
        @include desktop {  
            font-size: 1.25rem;
            margin-bottom: 10%;
            height: 16rem;
            width: 16rem;
            
        }
        
    }
    
    &__data2 {
        padding: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: whitesmoke;
        background: radial-gradient(circle at  2rem 1rem, #959696,rgba(14, 14, 14, 0.736), rgb(16, 16, 17));
        border-radius: 50%;
        height: 12.5rem;
        width: 12.5rem;
        font-size: 1rem;
        line-height: 1.6rem;
        
        //tablet
        @include tablet {
            margin-top: 20%;
            height: 14rem;
            width: 14rem;
        }
        
        //desktop
        @include desktop {
            font-size: 1.25rem;
          
            height: 16rem;
            width: 16rem;;
            
        }
    }
    
    &__data3 {
        //mobile
        padding: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: whitesmoke;
        background: radial-gradient(circle at  2rem 1rem, $color-light-1, $color-dark-1, black);
        border-radius: 50%;
        height: 12.5rem;
        width: 12.5rem;
        font-size: 1rem;
        line-height: 1.6rem;

        @include tablet {
            height: 14rem;
            width: 14rem;
        }
        
        //desktop
        @include desktop {  
            font-size: 1.25rem;

            margin-bottom: 10%;
            height: 16rem;
            width: 16rem;
            
        }
    }
}