@use "../../styles/variables" as *;
$layout-breakpoint-small: 800px;

.identifying-facts {
    position: relative;
    width: 100%;
    max-width: $desktop-width;
    margin: 4em auto 1rem;

    &__header {
        font-size: 3rem;
        margin-top: 2.5rem;

        &--title {
            
            font-size: 3rem;
            text-align: flex-start;
            color: $color-dark-3;
            text-align: flex-start;
            margin-bottom: 3%;
        }
    }

    &__container {
        display: flex;
        width: 100%;
        margin-bottom: 6%;
    }

    &__data1 {
        padding: 2%;
        color:white;
        margin-left: 10%;
        margin-bottom: 10%;
        background-color: $color-dark-2;
        float: left;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__data2 {
        padding: 2%;
        color:white;
        margin: 0 auto;
        margin-top: 10%;
        background-color: $color-dark-2;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__data3 {
        padding: 2%;
        color:white;
        float: right;
        background-color: $color-dark-2;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 10%;
        margin-bottom: 10%;
    }

    
}