@use '../../styles/variables' as *;
$layout-breakpoint-small: 800px;

.moon-carousel {
  position: relative;
  width: 100%;
  max-width: $desktop-width;
  height: 40vh;
  margin: 280px auto 1rem;
}

.slide-container {
  display: flex;
  align-items: center;
  max-width: 80rem;
  overflow-y: auto;
}

.single-item-container {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  // min-width: 10rem;
}

.items-container {
  display: flex;
  overflow-y: hidden;
  justify-content: flex-start;
  margin-right: 5px;
  margin-left: 15px;
}

.items-container::-webkit-scrollbar {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.css-11qr2p8-MuiButtonBase-root-MuiButton-root {
  background-color: $color-dark-2 !important;
}

.moon-size {
  margin-top: 1rem;
  text-align: start;
}

.moon-history {
  margin-top: .5rem;
  text-align: start;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: $color-light-2;
  text-decoration: none;
}


.carousel__container {
  display: flex;
  justify-content: center;
}

.planet__header {
  // font-size: 3rem;
  text-align: center;
  padding-top: 3rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  // position: relative;
}

.planet__title {
  font-size: 3rem;
  text-align: start;
}

@media (min-width: $layout-breakpoint-small) {
  .moon-carousel {
    margin: 10px auto 1rem;
  }

  .planet__header {
    text-align: center;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}