.solarSystem {
    background: #000;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.planet {
    // width: 100px;
    // height: 100px;
    //background:color;
    border-radius: 50%;
    //transform: scaleX(.2);
    &__mecury {
        width: 20px;
        height: 20px;
        background:red;
        border-radius: 50%;
    transform: scaleX(.2);
    }
}

.orbit {
    //each order needs width/height
    border-radius: 50%;
    transform: scaleX(5);
    border: 1px grey dotted;
    &__mecury{
        width:50px;
        width:50px;
        border-radius: 50%;
        transform: scaleX(5);
        border: 1px grey dotted;
    }
}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(251, 243, 9);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4 4 60px rgba(251, 248, 9, 0.4) 0 0 rgb(251, 243, 9); }
    