@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

// fonts
$font-primary: 'Basic', 'sans serif';
$font-title: 'Italiana', 'sans serif';
// primary colors
$color-dark-3: rgb(26, 86, 120);
$color-dark-2: rgb(36, 37, 93);
$color-dark-1: rgb(87, 28, 86);
$color-light-1: rgb(248, 208, 146);
$color-light-2:rgb(56, 164, 140);
$color-light-3: rgb(2, 144, 151);
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
$lgScreen-width: 1600px;