.planet-banner {
  position: relative;
  background-image: linear-gradient(0deg, rgba(16, 15, 15, 0.4), rgba(27, 16, 22, 0.4)), url("../../assets/images/stars2.jpg");
  background-size: 100%;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  overflow: hidden;
  // padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-name {
  font-size: 5rem;
  color: white;
}