@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

a:link {
  @include tablet {
    color:$color-light-1;
  }
  color: white;
  text-decoration: none;
}

a:visited {
  color: $color-light-2;
  text-decoration: none;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: $color-light-1;
}

.header {
  background-color: $color-dark-2 !important;

  &__container {
    background-color: $color-dark-2;
  }
}

.nav{
  &__planets {
    font-family: $font-primary;
    text-align: center;
    color:$color-dark-2;
    @include desktop{
      color:white;
    }
  }
}