a:link {
  color: rgb(36, 37, 93);
  text-decoration: none;
}

a:visited {
  color: rgb(36, 37, 93);
  text-decoration: none;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(36, 37, 93);
}