@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.slide-container {
  display: flex;
  align-items: center;
  max-width: 80rem;
  overflow-y: auto;
}

.single-item-container {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  // min-width: 10rem;
}

.items-container {
  display: flex;
  overflow-y: hidden;
  justify-content: flex-start;
  margin-right: 5px;
  margin-left: 15px;
}

.items-container::-webkit-scrollbar {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
  @include tablet{
    flex-direction: row;
  }
}

.css-11qr2p8-MuiButtonBase-root-MuiButton-root {
  background-color: $color-dark-1 !important;
}

.carousel-button {
  // background-color: $color-dark-1 !important;
  color: white !important;
  
  
  a:visited {
    color: $color-light-2;
  }
}

// a:link {
//   color: white;
//   text-decoration: none;
// }

// a:visited {
//   color: $color-light-2 !important;
//   text-decoration: none;
// }