.slide-container {
  display: flex;
  align-items: center;
  max-width: 80rem;
  overflow-y: auto;
}

.single-item-container {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  // min-width: 10rem;
}

.items-container {
  display: flex;
  overflow-y: hidden;
  justify-content: start;
  margin-right: 5px;
  margin-left: 15px;
}

.items-container::-webkit-scrollbar {
  display: none;
}