@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: $color-light-2;
  text-decoration: none;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: $color-light-1;
}

.footer {
  background-color: $color-dark-2 !important;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: $lgScreen-width;
  margin: 0 auto;

  &__wrapper {
    background-color: $color-dark-2;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 2rem;
    padding-bottom: 1rem;
    justify-content: space-around;
    border-bottom: 1px solid $color-light-2;
    align-items: center;

    @include tablet {
      padding-bottom: 2rem;
      margin: 4rem 4rem 2rem;
    }

    @include tablet {
      align-items: start;
    }

    &--name {
      display: flex;
      color: $color-light-1;
      margin: 1rem auto 0;

      @include tablet {
        margin: -1rem auto 0;
      }
    }

    &--title {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 45%;

      @include tablet {
        flex-direction: row;
        width: 40%;
      }

      &--link {
        margin-bottom: .75rem;

        @include tablet {
          margin-bottom: 0;
        }
      }
    }
  }

  &__copyright {
    padding-bottom: 1rem;
    color: $color-light-3;
  }

  &__team {
    display: flex;
    justify-content: space-between;
    width: 170px;
    align-items: center;
    margin: 0 auto;

    &--mem {
      width: 45px;
      height: 45px;
      background-color: transparent;
      border-radius: 50%;

      &:hover {
        width: 75px;
        height: 75px;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 1s;
        cursor: pointer;
      }

      &--img {
        width: 45px;
        height: 45px;
        border-radius: 50%;

        &:hover {
          width: 75px;
          height: 75px;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 1s;
        }
      }
    }
  }
}