@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.resources {
    background-color: $color-dark-3;
    width: 100%;
    height: 100%;
    padding: 3rem;
    max-width: $lgScreen-width;
    margin: 1rem auto;
    position: relative;

    &__header {
        font-size: 3rem;
       
    }

    &__title {
        font-size: 3rem;
        text-align: start;
        color: white;
        text-align: center;
    }

    &__subtitle {
        font-size: 1.25rem;
        text-align: start;
        margin: 1.5rem 2rem 2rem;
        color: white;
        text-align: center;
    }

    &__div-parent-wrapper {
        margin-top: 3rem;
      
    }

    &__div-child-wrapper {
        height: 50%;
        display: flex;
        justify-content: space-between;
        @include tablet {
            margin-bottom: 5rem;
        }
   
    }

    &__div1 {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        @include tablet {
            flex-direction: row;
        }
        
        
    }

    &__div2 {
        display: flex;
        justify-content: space-between;
        @include tablet {
            width: 10%;
        }
        @include desktop {
            width: 30%;
        }
       
       
    }
}

.resourceCard {
    margin-bottom: 1rem;
    width: 22rem;
    height: 14rem;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(240, 237, 237, 0.25);
    overflow: hidden;
    @include tablet {
        margin-bottom: 0;

    }
    &__img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        transition: all 0.8s ease;
        &:hover {
            transform: scale(1.5,1.5);
        }
    }
}