@use '../../styles/variables' as *;

.resources{
    background-image: linear-gradient(0deg, rgba(16, 15, 15, 0.4), rgba(27, 16, 22, 0.4)), url('../../assets/images/stars2.jpg');
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 2rem;
    max-width: $desktop-width;
    margin: 1rem auto;

    &__header {
        font-size: 3rem;
        text-align: start;
    }
    &__title {
        font-size: 3rem;
        text-align: start;
        color: white;
    }
    &__subtitle {
        font-size: 1.25rem;
        text-align: start;
        margin: 1.5rem 2rem 2rem;
        color: white;
    }
    &__div-wrapper {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__div1 {
        display: flex;
        justify-content: space-around;
    }
    &__div2 {
        margin-left: 10rem;
        display: flex;
        justify-content: space-around;
    }
}

.resourceCard {
    width: 13rem;
    height: 10rem;
    border: 2px white solid;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(249, 247, 247, 0.816), 0 4px 6px -4px rgba(246, 243, 243, 0.827);;
    &__img{
        border-radius: 10px;
        // padding: .25rem;
        width: 100%;
        height: 100%;
    }
}