@use './styles/reset';
@use './styles/variables' as *;

.App {
  text-align: center;
  font-family: $font-primary;
}

.pl {
  &-me {
      width: 10rem;
      height: 10rem;
      background: radial-gradient(circle at 3rem 3rem, #908f8e, #383737);
      border-radius: 50%;
     
  }

  &-ve {
      width: 10rem;
      height: 10rem;
      background: #e1a605;
      background: radial-gradient(circle at 3rem 3rem, #e1a605, #383737);
      border-radius: 50%;

  }

  &-ea {
      width: 10rem;
      height: 10rem;
      background: radial-gradient(circle at 3rem 3rem, #f5f7f5, #1d03a1);
      border-radius: 50%;

  }

  &-ma {
      width: 10rem;
      height: 10rem;
      background: radial-gradient(circle at 3rem 3rem, #f5f7f5, #e82020);

      //background: radial-gradient(circle at center, #e82020), conic-gradient(from 45deg, rgb(65, 3, 2) 250deg, rgb(167, 34, 34)  280deg, rgb(169, 86, 86) 353deg);
      border-radius: 50%;
      // z-index: 1;

  }

  &-ju {
      width: 10rem;
      height: 10rem;
      background: #edbe48;
      background: radial-gradient(circle at 1rem 1rem, #edbe48, #383737);
      position: relative;
      border-radius: 50%;


      &-l1 {
          background-color: #866102;
          filter: blur(1px);
          width: 100%;
          height: 5%;
          top: 40%;
          right: 1%;
          box-shadow:
              -2px 2px 5px 1px white;
              position: absolute;
      }

      &-l2 {
          background-color: #866102;
          filter: blur(1px);
          width: 100%;
          height: 2%;
          position: absolute;
          top: 60%;
          right: 1%;
          box-shadow:
              2px -2px 5px 1px white;
              position: absolute;
      }

  }

  &-sa {
      width: 10rem;
      height: 10rem;
      background: radial-gradient(circle at 1rem 1rem, #f8f3eb, #f5cf97);
      border-radius: 50%;
     
      &-l1 {
          width: 1.4rem;
          height: 1.4rem;
          background: radial-gradient(circle at center, white, transparent 60%), conic-gradient(from 25deg, transparent 45deg, rgba(243, 175, 74, 0.5) 75deg, rgb(243, 175, 74) 250deg, transparent  280deg, transparent 353deg);
          border-radius: 50%;
          transform: scaleX(8);
          margin: 2.1rem
      }
     
  }

  &-ur {
      width: 10rem;
      height: 10rem;
      background: radial-gradient(circle at 3rem 3rem, #f8f3eb, rgb(85, 229, 248));
      border-radius: 50%;
    
  }

  &-ne {
      width: 10rem;
      height: 10rem;
      background: radial-gradient(circle at 3rem 3rem, #f8f3eb, rgb(16, 115, 236));
      border-radius: 50%;
    
  }

  &-p {
      width: 10rem;
      height: 10rem;
      background: radial-gradient(circle at 3rem 3rem, #f8f3eb, rgb(249, 153, 8));
      border-radius: 50%;
      
  }
}

.un {
  background-image: linear-gradient(0deg, rgba(16, 15, 15, 0.4), rgba(27, 16, 22, 0.4)), url('./assets/images/stars2.jpg');
  background-size: 100%;
  width: 200px;
  height: 200px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

}