.explore {
    padding: 2rem;
    &__header {
        font-size: 3rem;
    }
    &__subhead {
        font-size: 1.25rem;
    }
    &__slider-container {

    }
    &__slider-cards {

    }
    &__card-wrapper {

    }
    &__card {
        &--img {

        }
        &--info{

        }
    }
}