.universe {
    position: relative;

    background-image: linear-gradient(0deg, rgba(16, 15, 15, 0.4), rgba(27, 16, 22, 0.4)), url('../../assets/images/stars2.jpg');
    //background: #0000006b;
    background-size: 100%;
    width: 100%;
    //max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    overflow: hidden;
    padding-top: 4rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;

}

.solarSystem {
    padding-top: 2rem;
    //background: #0000009e;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    //to tilt for 3d look
     //transform: scaleX(5);

}


.sun {
    width: 4.688rem;
    height: 4.688rem;
    border-radius: 50%;
    background: radial-gradient(circle at 2rem 2rem, #f0f0e6, #fbf309);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
        0 0 10px 5px #fbf309;
    position: absolute;
    //to tilt for 3d look
    //transform: scaleX(.2);
}

.orbit {
    border-radius: 50%;
    border: 1px rgb(244, 238, 238) dotted;
    position: absolute;
    // top: 50%;
    // left: 50%;

}

.orbit {

    //each order needs width/height
    //need to transfor planets but it isn't working
    //animation: correcting 12s infinite linear;
    &__inner {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -4%;
    }

    &__innerQuarter {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -2%;
    }

    &__innerMid {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -3%;
    }

    &__innerPluto {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -.25%;
    }

    &__mecury {
        width: 100px;
        height: 100px;
        animation: rotating 3s infinite linear;


    }

    &__venus {
        width: 150px;
        height: 150px;
        animation: rotating 6s infinite linear;

    }

    &__earth {
        width: 200px;
        height: 200px;
        animation: rotating 6.5s infinite linear;

    }

    &__mars {
        width: 300px;
        height: 300px;
        animation: rotating 13s infinite linear;

    }

    &__jupiter {
        width: 450px;
        height: 450px;
        animation: rotating 50s infinite linear;

    }

    &__saturn {
        width: 550px;
        height: 550px;
        animation: rotating 100s infinite linear;
        
    }

    &__uranus {
        width: 650px;
        height: 650px;
        animation: rotating 300s infinite linear;

    }

    &__neptune {
        width: 700px;
        height: 700px;
        animation: rotating 600s infinite linear;

    }

    &__pluto {
        width: 750px;
        height: 750px;
        animation: rotating 1200s infinite linear;

    }

}

.planet {
    &-me {
        width: .5rem;
        height: .5rem;
        background: radial-gradient(circle at .25rem .25rem, #908f8e, #383737);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;

    }

    &-ve {
        width: 1rem;
        height: 1rem;
        background: #e1a605;
        background: radial-gradient(circle at .35rem .35rem, #e1a605, #383737);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;

    }

    &-ea {
        width: 1rem;
        height: 1rem;
        background: radial-gradient(circle at .35rem .35rem, #f5f7f5, #1d03a1);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;

    }

    &-ma {
        width: .65rem;
        height: .65rem;
        // background: #e82020;
        // background: radial-gradient(circle at .4rem .4rem, #e82020, #383737);
        background: radial-gradient(circle at center, #e82020), conic-gradient(from 45deg, rgb(65, 3, 2) 250deg, rgb(167, 34, 34)  280deg, rgb(169, 86, 86) 353deg);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;

    }

    &-ju {
        width: 2rem;
        height: 2rem;
        background: #edbe48;
        background: radial-gradient(circle at 1rem 1rem, #edbe48, #383737);
        border-radius: 50%;
        position: relative;
        transform-style: preserve-3d;
        z-index: 1;

        &--layer1 {
            background-color: #866102;
            filter: blur(1px);
            //background: linear-gradient(184deg, #edbe489d 0%, #efb41e9d 35%, #f6b2069d 100%);
            width: 100%;
            height: 2%;
            position: absolute;
            top: 40%;
            right: 1%;
            box-shadow:
                -2px 2px 5px 1px white;
        }

        &--layer3 {
            background-color: #866102;
            filter: blur(1px);
            //background: linear-gradient(184deg, #edbe489d 0%, #efb41e9d 35%, #f6b2069d 100%);
            width: 100%;
            height: 2%;
            position: absolute;
            top: 60%;
            right: 1%;
            box-shadow:
                2px -2px 5px 1px white;
        }

    }

    &-sa {
        width: 2rem;
        height: 2rem;
        background: radial-gradient(circle at 1rem 1rem, #f8f3eb, #f5cf97);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
        &--ring {
            width: .5rem;
            height: .5rem;
            background: radial-gradient(circle at center, white, transparent 60%), conic-gradient(from 25deg, transparent 45deg, rgba(243, 175, 74, 0.5) 75deg, rgb(243, 175, 74) 250deg, transparent  280deg, transparent 353deg);
            border-radius: 50%;
            transform: scaleX(8);
            margin: 0.78rem
        }
       
    }

    &-ur {
        width: 1.75rem;
        height: 1.75rem;
        background: radial-gradient(circle at 1rem 1rem, #f8f3eb, rgb(85, 229, 248));
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
    }

    &-ne {
        width: 1.75rem;
        height: 1.75rem;
        background: radial-gradient(circle at .75rem .75rem, #f8f3eb, rgb(16, 115, 236));
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
    }

    &-p {
        width: .225rem;
        height: .225rem;
        background: radial-gradient(circle at .15rem .15rem, #f8f3eb, rgb(249, 153, 8));
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
    }
}





@keyframes rotating {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }

}

