.universe {
    position: relative;

    background-image: linear-gradient(0deg, rgba(16, 15, 15, 0.4), rgba(27, 16, 22, 0.4)), url('../../assets/images/stars2.jpg');
    //background: #0000006b;
    background-size: 100%;
    width: 100%;
    //max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    overflow: hidden;
    padding-top: 4rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;

}

.solarSystem {
    padding-top: 2rem;
    //background: #0000009e;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    //to tilt for 3d look
    //transform: scaleX(5);

}


.sun {
    width: 4.688rem;
    height: 4.688rem;
    border-radius: 50%;
    background: radial-gradient(circle at 2rem 2rem, #f0f0e6, #fbf309);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
        0 0 10px 5px #fbf309;
    position: absolute;
    //to tilt for 3d look
    // transform: scaleX(.2);
}

.orbit {
    border-radius: 50%;
    border: 1px rgb(244, 238, 238) dotted;
    position: absolute;
}

.orbit {
    //each order needs width/height
    //need to transfor planets but it isn't working
    //animation: correcting 12s infinite linear;
    &__inner {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -4%;
        
    }

    &__innerQuarter {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -2%;
    }

    &__innerMid {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -3%;
    }

    &__innerPluto {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -.25%;
    }

    &__mecury {
        width: 100px;
        height: 100px;
        animation: rotating 3s infinite linear;

    }

    &__venus {
        width: 150px;
        height: 150px;
        animation: rotating1 6s infinite linear;

        
    }

    &__earth {
        width: 200px;
        height: 200px;
        animation: rotating2 6.5s infinite linear;
    }

    &__mars {
        width: 300px;
        height: 300px;
        animation: rotating3 13s infinite linear;
    }

    &__jupiter {
        width: 450px;
        height: 450px;
        animation: rotating 50s infinite linear;

    }

    &__saturn {
        width: 550px;
        height: 550px;
        animation: rotating1 100s infinite linear;

    }

    &__uranus {
        width: 650px;
        height: 650px;
        animation: rotating2 300s infinite linear;

    }

    &__neptune {
        width: 700px;
        height: 700px;
        animation: rotating3 600s infinite linear;

    }

    &__pluto {
        width: 750px;
        height: 750px;
        animation: rotating 1200s infinite linear;

    }

}

.planet {
    &-me {
        width: .5rem;
        height: .5rem;
        background: radial-gradient(circle at .25rem .25rem, #908f8e, #383737);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;

    }

    &-ve {
        width: 1rem;
        height: 1rem;
        background: #e1a605;
        background: radial-gradient(circle at .35rem .35rem, #f8c53ac2, #bb9b66,  #070707);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;

    }

    &-ea {
        width: 1rem;
        height: 1rem;
        background: radial-gradient(circle at .35rem .35rem, #f5f7f5, #1d03a1);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
        &--l1 {
            background-color: rgb(48, 114, 22);
            border-radius: 50%;
            filter: blur(2px);
            width: 25%;
            height: 65%;
            top: 30%;
            left: 20%;
            // box-shadow:
            // -2px 2px 3px 1px rgb(48, 114, 22);
            position: absolute;
        }
        
        &--l2 {
            background-color: rgb(48, 114, 22);
            filter: blur(2px);
            border-radius: 40%;
            width: 60%;
            height: 30%;
            position: absolute;
            top: 20%;
            left: 30%;
            // box-shadow:
            // 2px -2px 3px 1px rgb(48, 114, 22);
            position: absolute;
        }
        &--l3 {
            background-color: rgb(247, 250, 246);
            filter: blur(4px);
            border-radius: 40%;
            width: 99%;
            height: 5%;
            position: absolute;
            top: 20%;
            left: 1%;
            // box-shadow:
            // 2px -2px 3px 1px rgb(250, 251, 250);
            position: absolute;
        }
        &--l4 {
            background-color: rgb(247, 250, 246);
            filter: blur(4px);
            border-radius: 40%;
            width: 99%;
            height: 5%;
            position: absolute;
            top: 70%;
            left: 1%;
            box-shadow:
            2px -2px 3px 1px rgb(250, 251, 250);
            position: absolute;
        }
        

        &--label {
            position: relative;
            font-size: large;
            color: white;
            z-index: 10;
            // top: 50%;
            // left: 50%;
            margin-left: 0.25rem;
            animation: maintain 2.5s linear infinite;
          
        }

    }

    &-ma {
        width: .65rem;
        height: .65rem;
        background: radial-gradient(circle at .4rem .4rem, #e82020, #5e301e);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;


    }

    &-ju {
        width: 2rem;
        height: 2rem;
        background: #edbe48;
        background: radial-gradient(circle at 1rem 1rem, #edbe48, #383737);
        border-radius: 50%;
        position: relative;
        transform-style: preserve-3d;
        z-index: 1;

        &--l1 {
                background-color: white;
                filter: blur(2px);
                width: 100%;
                height: 2%;
                top: 30%;
                right: 1%;
                box-shadow:
                2px 3px 5px 2px #866102;
                position: absolute;
        }

        &--l2 {
                background-color: white;
            filter: blur(2px);
            width: 100%;
            height: 2%;
            position: absolute;
            top: 63%;
            right: 1%;
            box-shadow:
            2px 3px 5px 2px #866102;
            position: absolute;
        }

    }

    &-sa {
        width: 2rem;
        height: 2rem;
        background: radial-gradient(circle at 1rem 1rem, #f8f3eb, #f5cf97);
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;

        // &--ring {
        //     width: .5rem;
        //     height: .5rem;
        //     background: radial-gradient(circle at center, white, transparent 60%), conic-gradient(from 25deg, transparent 45deg, rgba(243, 175, 74, 0.5) 75deg, rgb(243, 175, 74) 250deg, transparent 280deg, transparent 353deg);
        //     border-radius: 50%;
        //     transform: scaleX(8);
        //     margin: 0.78rem;
        //     position: absolute;

        // }
        &--l1{
            background-color: white;
            filter: blur(7px);
            width: 100%;
            height: 2%;
            top: 15%;
            right: 1%;
            box-shadow:
            2px 2px 5px 2px #866102;
            position: absolute;
        }
        &--l2{
            background-color: white;
            filter: blur(7px);
            width: 100%;
            height: 2%;
            position: absolute;
            top: 70%;
            right: 1%;
            box-shadow:
            2px 10px 5px 2px #866102;
            position: absolute;
        }
        &--l3 {
            width: .5rem;
            height: .5rem;
            background: radial-gradient(circle at center, white, transparent 80%), conic-gradient(from 25deg, transparent 35deg, rgba(243, 175, 74, 0.5) 75deg, rgb(243, 175, 74) 250deg, transparent  280deg, transparent 353deg);
            border-radius: 50%;
            transform: scaleX(8);
            margin: 0.78rem;
            position: absolute;

        }

    }

    &-ur {
        width: 1.75rem;
        height: 1.75rem;
        background: radial-gradient(circle at 1rem 1rem, #889da5, rgb(16, 16, 17));
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
    }

    &-ne {
        width: 1.75rem;
        height: 1.75rem;
        background: radial-gradient(circle at .75rem .75rem, #7039f0, rgb(16, 16, 17));
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
    }

    &-pl {
        width: .3rem;
        height: .3rem;
        background: radial-gradient(circle at .15rem .15rem, rgb(244, 208, 154), rgb(11, 11, 11));
        border-radius: 50%;
        position: absolute;
        transform-style: preserve-3d;
        
    }
}





@keyframes rotating1 {
    0% {
        transform: rotateZ(40deg);
    }

    100% {
        transform: rotateZ(400deg);
    }

}

@keyframes rotating2 {
    0% {
        transform: rotateZ(90deg);
    }

    100% {
        transform: rotateZ(450deg);
    }

}
@keyframes rotating3 {
    0% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(540deg);
    }

}
@keyframes rotating {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }

}

@keyframes maintain {
    0% {
        transform: rotateX(15deg);
    }
   
    100% {
        transform: rotateX(-15deg);
    }
}