@use "../../styles/variables" as *;
$layout-breakpoint-small: 800px;

.planet-info {
  position: relative;
  width: 100%;
  height: 40vh;
  max-width: $desktop-width;
  margin: 4rem auto 1rem;

  &__header {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: start;
    // position: relative;
    margin: 1rem;
  }

  &__planet-data {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: block;
    width: 100%;
  }

  &__container-large {
    display: block;
    width: 100%;
  }

  &__title {
    background-color: black;
    width: 100%;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: start;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
  }

  &__data {
    width: 100%;
    font-size: 1.25rem;
    text-align: start;
    padding: 1rem 0rem 1.5rem 2rem;
    color: black;
  }

  &__title-large {
    background-color: black;
    width: 100%;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: start;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
  }

  &__data-large {
    width: 100%;
    font-size: 1.25rem;
    text-align: start;
    padding: 1rem 0rem 1rem 2rem;
    color: black;
  }
}

@media (min-width: $layout-breakpoint-small) {
  .planet-info__planet-data {
    flex-direction: row;
  }

  .planet-info__container {
    width: 50%;
  }

  .planet-info__title {
    padding: 1rem 0rem 1rem 4rem;
  }

  .planet-info__data {
    padding: 1rem 0rem 1rem 4rem;

  }

  .planet-info__title-large {
    padding: 1rem 0rem 1rem 4rem;

  }

  .planet-info__data-large {
    padding: 1rem 0rem 1rem 4rem;
  }
}